@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Sum" asp-controller="Home">Задание 1 - Sum</a>
<br />
<a asp-action="JoinLinkedList" asp-controller="Home">Задание 2 - JoinLinkedList</a>
<br />
<a asp-action="VerifyPolindrom" asp-controller="Home">Задание 3 - VerifyPolindrom</a>
<br />
