
@{
    ViewData["Title"] = "Create";
}

<h6>
    3. Реализовать приложение C#, которое предоставит функционал определения входящий строки является ли она палиндромом.
</h6>


<div class="row">
    <div class="col-md-4">
        <form asp-action="VerifyPolindrom" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>
                    Строка:
                </label><br />
                <input type="text" name="word" /><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Проверить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>